---

version: "3.3"

services:

  consul:
    image: consul:1.6.1
    command: ["consul", "agent", "-config-file=/config/config.hcl", "-config-dir=/config"]
    volumes:
    - "./consul_config:/config"
    ports:
    - 8500:8500
    networks:
      vpcbr:
        ipv4_address: 10.5.0.2

  ingress:
    image: nicholasjackson/fake-service:v0.7.1
    environment:
      LISTEN_ADDR: 0.0.0.0:9090
      UPSTREAM_URIS: "http://localhost:9091"
      MESSAGE: "Hello World"
      NAME: "Ingress"
      SERVER_TYPE: "http"
      TIMING_50_PERCENTILE: 30ms
      TIMING_90_PERCENTILE: 60ms
      TIMING_99_PERCENTILE: 90ms
      TIMING_VARIANCE: 10
      TRACING_DATADOG: "datadog-agent:8126"
      METRICS_DATADOG: "datadog-agent:8125"
      LOG_LEVEL: "debug"
      LOG_FORMAT: "json"
    ports:
    - "9090:9090"
    networks:
      vpcbr:
        ipv4_address: 10.5.0.3
  ingress_envoy:
    image: nicholasjackson/consul-envoy:v1.6.1-v0.10.0
    environment:
      CONSUL_HTTP_ADDR: 10.5.0.2:8500
      CONSUL_GRPC_ADDR: 10.5.0.2:8502
      SERVICE_CONFIG: /config/ingress_v1.hcl
      CENTRAL_CONFIG: "/central_config/ingress_defaults.hcl"
    volumes:
    - "./service_config:/config"
    - "./central_config:/central_config"
    command: ["consul", "connect", "envoy", "-sidecar-for", "ingress-v1"]
    network_mode: "service:ingress"

  web:
    image: nicholasjackson/fake-service:v0.7.1
    environment:
      LISTEN_ADDR: 0.0.0.0:9090
      UPSTREAM_URIS: "grpc://localhost:9091"
      MESSAGE: "Web response"
      NAME: "Web"
      SERVER_TYPE: "http"
      HTTP_CLIENT_APPEND_REQUEST: "true"
      TIMING_50_PERCENTILE: 20ms
      TIMING_90_PERCENTILE: 30ms
      TIMING_99_PERCENTILE: 40ms
      TIMING_VARIANCE: 10
      TRACING_DATADOG: "datadog-agent:8126"
      METRICS_DATADOG: "datadog-agent:8125"
      LOG_LEVEL: "debug"
      LOG_FORMAT: "json"
    networks:
      vpcbr:
        ipv4_address: 10.5.0.4
  web_proxy:
    image: nicholasjackson/consul-envoy:v1.6.0-v0.10.0
    environment:
      CONSUL_HTTP_ADDR: 10.5.0.2:8500
      CONSUL_GRPC_ADDR: 10.5.0.2:8502
      SERVICE_CONFIG: /config/web_v1.hcl
      CENTRAL_CONFIG: "/central_config/web_defaults.hcl"
    volumes:
    - "./service_config:/config"
    - "./central_config:/central_config"
    command: ["consul", "connect", "envoy", "-sidecar-for", "web-v1"]
    network_mode: "service:web"

  api:
    image: nicholasjackson/fake-service:v0.7.1
    environment:
      LISTEN_ADDR: 0.0.0.0:9090
      MESSAGE: "API response"
      NAME: "API"
      SERVER_TYPE: "grpc"
      TIMING_50_PERCENTILE: 1ms
      TIMING_90_PERCENTILE: 2ms
      TIMING_99_PERCENTILE: 3ms
      TIMING_VARIANCE: 10
      ERROR_RATE: 0.2
      ERROR_CODE: 14
      ERROR_TYPE: "http_error"
      TRACING_DATADOG: "datadog-agent:8126"
      METRICS_DATADOG: "datadog-agent:8125"
      LOG_LEVEL: "debug"
      LOG_FORMAT: "json"
    networks:
      vpcbr:
        ipv4_address: 10.5.0.5
  api_proxy:
    image: nicholasjackson/consul-envoy:v1.6.0-v0.10.0
    environment:
      CONSUL_HTTP_ADDR: 10.5.0.2:8500
      CONSUL_GRPC_ADDR: 10.5.0.2:8502
      SERVICE_CONFIG: /config/api_v1.hcl
      CENTRAL_CONFIG: "/central_config/api_defaults.hcl"
    volumes:
    - "./service_config:/config"
    - "./central_config:/central_config"
    command: ["consul", "connect", "envoy", "-sidecar-for", "api-v1"]
    network_mode: "service:api"

  # Tracing and Metrics
  datadog-agent:
    image: datadog/agent:latest
    restart: always
    volumes:
    # For the Agent in general
    - /var/run/docker.sock:/var/run/docker.sock:ro
    - /proc/:/host/proc/:ro
    - /sys/fs/cgroup/:/host/sys/fs/cgroup:ro
    # For Live Processes in particular
    - /etc/passwd:/etc/passwd:ro
    # For Logs in particular
    # - /opt/datadog-agent/run:/opt/datadog-agent/run:rw
    environment:
      # The API key
      DD_API_KEY: "${DD_API_KEY}"
      # Allow DogStatsD to receive metrics from other containers
      DD_DOGSTATSD_NON_LOCAL_TRAFFIC: "true"
      # Enable APM and allow other containers to report
      DD_APM_ENABLED: "true"
      DD_APM_NON_LOCAL_TRAFFIC: "true"
      # Enable the Process Agent
      DD_PROCESS_AGENT_ENABLED: "true"
      # Enable Logs
      DD_LOGS_ENABLED: "true"
      DD_LOGS_CONFIG_CONTAINER_COLLECT_ALL: "true"
      DD_AC_EXCLUDE: "name:datadog-agent"  # exclude Agent logs
    labels:
      com.datadoghq.ad.logs: '[{"source": "datadog-agent", "service": "datadog-agent"}]'
    networks:
      vpcbr:
        ipv4_address: 10.5.0.6

networks:
  vpcbr:
    driver: bridge
    ipam:
      config:
      - subnet: 10.5.0.0/16
